{
  "StartArguemnt": {
    "Type": "System.String, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "null"
  },
  "OpenDeveloper": {
    "Type": "System.Boolean, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "true"
  },
  "ShowSteamInfo": {
    "Type": "System.Boolean, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "false"
  },
  "SteamCompatibilityMode": {
    "Type": "System.Boolean, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "true"
  },
  "SelectedModPlayer": {
    "Type": "System.String, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "\u00221\u0022"
  },
  "StartChinesization": {
    "Type": "System.Boolean, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "true"
  },
  "AlwaysReloadPmod": {
    "Type": "System.Boolean, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "false"
  },
  "SteamPath": {
    "Type": "System.String, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "null"
  },
  "GameData": {
    "Type": "System.IO.DirectoryInfo, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "\u0022C:\\\\Users\\\\Administrator\\\\AppData\\\\LocalLow\\\\Colossal Order\\\\Cities Skylines II\u0022"
  },
  "GameRoot": {
    "Type": "System.IO.DirectoryInfo, System.Private.CoreLib, Version=7.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e",
    "Value": "\u0022D:\\\\SteamLibrary\\\\steamapps\\\\common\\\\Cities Skylines II\\\\\u0022"
  }
}
